.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sections {
  padding: 2rem 0 4rem;
}

.sectionsHeading {
  margin-bottom: 0.5rem;
}

.sectionsDescription {
  margin-bottom: 1.5rem;
}

.sectionsSubheading {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.section {
  padding: 1.5rem;
  margin-bottom: 1rem;
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-global-radius);
}
